#yama{
    background-color: darkolivegreen;
    padding:0.5em 0em;
}

#kawa{
    background-color: darkolivegreen;
    min-height: 2.2em;
    padding:0.5em 0em;
}

#te{
    background-color: darkslategrey;
    padding:0.5em 0em;


}

.hai{
    color: white;
    display: inline-block;
    vertical-align: middle;
    line-height:2.2em;
    border: 1px solid gray;
    text-decoration: none;
    width:1.8em;
    height:2.2em;
    margin: 0.05em;
    overflow: hidden;
    text-align: center;
}

#te .hai:hover{
    background-color: white;
    color: black;
}